* {
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  font-family: "San Francisco";
  background-repeat: no-repeat;
  background-image: url("ressources/background.jpeg");
}

nav {
  background-color: white;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0.1px 0.1px 35px rgba(0, 0, 0, 0.242);
}

.nav-left,
.nav-right {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  align-items: center;
}
.nav-left li,
.nav-right li {
  padding-right: 1.1rem;
  align-items: center;
}
.nav-right li img {
  margin-top: 0.3rem;
}
.apple-logo {
  margin-right: 1rem;
  margin-top: 0.1rem;
}
.nav-left li .finder {
  font-weight: bolder;
}
.list-nav {
  display: none;
}
.list-nav-visible {
  display: block;
}

/* =========      dock =========  */


.dock {
  width: auto;
  height: 80px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.dock .dock-container {
  padding: 3px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(243, 231, 231, 0.5);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.dock .dock-container .li-bin {
  margin-left: 20px;
  border-left: 1.5px solid rgba(255, 255, 255, 0.4);
  padding: 0px 10px;
}
.dock .dock-container .li-1::after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  content: "";
  bottom: 2px;
}
.dock .dock-container li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  vertical-align: bottom;
  transition: 0.2s;
  transform-origin: 50% 100%;
}
.dock .dock-container li:hover {
  margin: 0px 13px 0px 13px;
}
.dock .dock-container li .name {
  position: absolute;
  top: -70px;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  height: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  visibility: hidden;
}
.dock .dock-container li .name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.5);
}
.dock .dock-container li .ico {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}
.dock .dock-container li .ico-bin {
  width: 94% !important;
  height: 94% !important;
  object-fit: cover;
  transition: 0.2s;
}
.dock .dock-container li .ico-bin:hover {
  margin-left: 10px;
}
.li-1:hover .name {
  visibility: visible !important;
}
.li-2:hover .name {
  visibility: visible !important;
}
.li-3:hover .name {
  visibility: visible !important;
}
.li-4:hover .name {
  visibility: visible !important;
}
.li-5:hover .name {
  visibility: visible !important;
}
.li-6:hover .name {
  visibility: visible !important;
}
.li-7:hover .name {
  visibility: visible !important;
}
.li-8:hover .name {
  visibility: visible !important;
}
.li-9:hover .name {
  visibility: visible !important;
}
.li-10:hover .name {
  visibility: visible !important;
}
.li-11:hover .name {
  visibility: visible !important;
}
.li-12:hover .name {
  visibility: visible !important;
}
.li-13:hover .name {
  visibility: visible !important;
}
.li-14:hover .name {
  visibility: visible !important;
}
.li-15:hover .name {
  visibility: visible !important;
}

/* MAIN 
================================= */

/* DESKTOP 
================================= */
.files-containers {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(6, 100px);
  gap: 1rem;
}
.container-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* overflow-y: auto; */
}
.items-desktop:active,
.item-work:active {
  background-color: rgb(33, 34, 36);
  opacity: 0.3;
  border: rgb(211, 198, 198) 2px solid;
}


.-resume {
  grid-column: 2/3;
  grid-row: 2/3;
}

.-linkedin {
  grid-column: 2/3;
  grid-row: 3/4;
}
.-github {
  grid-column: 2/3;
  grid-row: 4/5;
}
.items-desktop img {
  margin: 0;
  padding: 0;
}
.container-desktop p {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.container-desktop:active p {
  background-color: rgb(0, 99, 225);
}
/* MODALS - 
================================= */
.modal {
  position: absolute;

  overflow-y: scroll;
  border: rgba(8, 8, 8, 0.452) 0.4px solid;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  height: 600px;
  width: 700px;
  border-radius: 15px;
  box-shadow: 2px 2px 35px rgba(1, 1, 1, 0.442);
  border: rgb(232, 234, 245);
}

.show-modal {
  display: flex;
}

.modal-expand {
  position: absolute;
  left: 0px !important;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  top: 26px !important;
  overflow: scroll;
}

/* =====================        Nav Bar       ==================*/

.dot-close,
.dot-reduce,
.dot-open {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
}
.buttons-window {
  display: flex;
  flex-direction: row;
  line-height: 10px;
  vertical-align: 50%;
  padding: 1rem;
  align-items: center;
}
.dot-close {
  background-color: #ff605c;
}
.dot-reduce {
  background-color: #ffbd44;
}
.dot-open {
  background-color: #00ca4e;
}
.modal-nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(232, 234, 237);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: sticky;
  top: 0;

  text-align: center;
}
.buttons-window a {
  line-height: 10px;
  vertical-align: 50%;
  font-size: 0.8rem;
  display: none;
  font-weight: 2000;
}
.buttons-window:hover a {
  display: block;
}
.arrowBtn {
  margin: 0 1rem 0 1rem;
}
.back-btn,
.next-btn {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 0.7rem 0.2rem 0.7rem;
  color: rgb(99, 93, 97);
}
.back-btn:hover,
.next-btn:hover {
  background-color: rgb(226, 220, 224);
  border-radius: 0.5rem;
}

.buttons-window p {
  line-height: 15px;
  vertical-align: 0%;
  margin: 0;
}

/*  SKILLS 
================================ */
.modal-skills {
  top: 70px;
  left: 350px;
  min-width: 900px;
  min-height: 500px;
}
/* .title-skills {
  font-size: 35px;
  text-align: center;
  
} */
.container-skills-imgages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.images-row1,
.images-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills-image {
  margin: 20px;
  text-align: center;
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* border: 2px solid rgb(223, 201, 160); */
}
.content-skills {
  background-color: white;
  height: 100%;
  overflow: none;
}

/*  ABOUT 
================================ */

.modal-about {
  top: 50px;
  left: 300px;
  min-width: 900px;
  min-height: 500px;
  font-family: 'Roboto', sans-serif;
}

.content-about {
  background-color: rgb(230, 217, 193);
}
.title-about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 2rem;
}
.intro-about {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.text-about {
  font-size: 1.5rem;
  padding: 5rem 8rem;
  margin: 0 5rem 3rem 5rem;
  text-align: left;
  line-height: 1.5;
  background-color: white;
  border-radius: 30px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.intro-about h1 {
  margin: 2rem;
  font-size: 3.5rem;
}
.intro-about h1 span {
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: consolas, "Liberation Mono", courier, monospace;
}
.text-about span {
  /* font-size: 2rem; */
  background-color: rgba(59, 55, 55, 0.664);
  color: white;
  font-family: consolas, "Liberation Mono", courier, monospace;
}
/* MODAL WORK 
============================*/
.modal-box {
  top: 100px;
  left: 300px;
  min-width: 900px;
  min-height: 500px;
  position: absolute;
}
.container-folder {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(3, 100px);
  gap: 2rem;
  margin: 20px;
}

.item-work p {
  color: black;
  margin: 0;
  padding: 0;
  font-weight: 700;
  
}
.item-work:active p{
  background-color: rgb(0, 99, 225);
}

.item-work {
  margin-top: 15%;
  text-align: center;
}

/* MODAL README 
============================*/

.container-readme {
  overflow: scroll;
}
.container-readme p {
  padding: 2.5rem;
}

a {
  text-decoration: none;
}

/* README  - SOBA PROJECT
============================*/
/* .container-soba {
  top: 160px;
  left: 450px;
} */
.content-soba {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}
.content-soba-box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  align-items: center;
}
.content-soba-box1 img {
  border-radius: 0.5rem;
}
.website-link {
  color: white;
  font-size: 2rem;
  border: white 1px solid;
  padding: 1rem;
  border-radius: 1rem;
}
.website-link:hover {
  background-color: rgb(230, 217, 193);
}
.soba-title {
  font-size: 3rem;
  font-family: consolas, "Liberation Mono", courier, monospace;
  margin: 0;
  padding: 5rem;
  text-align: center;
  background-color: rgb(230, 217, 193);
}
.soba-title span {
  background-color: white;
  color: gray;
}
.content-soba-box2 {
  display: flex;
  flex-direction: row;
  /* padding: 5% 10% 5% 10%; */
  justify-content: center;
  border: blue 1px solid;
}
.features,
.technologies {
  justify-content: center;
  border: red 1px solid;
  display: flex;
  flex-direction: row;
}
.content-soba-box2 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.work1-container,
.work2-container,
.work3-container {
  display: none;
}
.work1-readme,
.work2-readme,
.work3-readme {
  display: none;
}





/* RESIZER  ==================*/

/* 

.resizable::-webkit-scrollbar {
  display: none;
}

.resizers {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.resizer {
  width: 20px;
  height: 20px;
  position: absolute;
}

.nw {
  left: -1px;
  top: -1px;
  cursor: nw-resize;
}
.ne {
  right: -1px;
  top: -1px;
  cursor: ne-resize;
}
.sw {
  left: -1px;
  bottom: -1px;
  cursor: sw-resize;
}
.se {
  right: -1px;
  bottom: -1px;
  cursor: se-resize;
}

 */


.display-none {
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
