header {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/Users/umut/Documents/code academy dev projects/arts & Crafts/ressources/images/pattern.webp");
    border: 50px;
}

h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

a {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}