@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}


h1 {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-bottom: 100px;
}

.logo {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
  box-sizing: border-box;
  -webkit-clip-path: polygon(
    0% 50%,
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%
  );
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

body {
  background-color: rgb(59, 57, 57);
}

li,
a {
  display: inline;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border: blue 1px solid;
  
}

nav {
  position: absolute;
  text-align: center;
  color: white;
  bottom: 20%;
  width: 100%;
  text-transform: uppercase;
}

.about {
  position: relative;
  height: 1000px;
  border: red 1px solid;
  transform: translate(0, 110%);
  background-color: red;
  display: block;
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 50px;
}


.about_pages {
  background-color: white;
  display: block;
  height: 1000px;
  float: left;
  transform: translate(0, 110%);
  width: 50%;
  display: flex;
  justify-content: center;
  border: blueviolet 1px solid;
  
}

p {
  color: black;
  border: solid blue 5px;
  height: 400px;
  transform: translate(0%, 70%);

}
