@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url("/Users/umut/Documents/CODE/perso website/ressources/background_image.jpeg");
  background-size: cover;
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: multiply;

}

.about {
  height: 300vh;
  display: flex;
}

.about-title {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.about-pages {
  width: 50%;
}
.about-pages div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-pages div > p {
  width: 80%;
  font-size: 18px;
  line-height: 30px;
}

.about-pages div:nth-child(1) {
  background-color: red;
}
.about-pages div:nth-child(2) {
  background-color: blue;
}

footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
